<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				$("#backMain").click(function(){
					document.location = "/";
				});
			});
		</script>
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Upload a photo to your account below.</p>
		<form method='post' enctype='multipart/form-data'>
			<p><input type='text', name='photo[name]', placeholder='Name'/>
			</p>
			<p><input type='file', name='photo[image]'/></p>
			<span>
				<input type='submit', value='Upload'/>
				<input type='button', value='Back', id="backMain"/>
			</span>
		</form>
	</body>
</html>
